nvim/plugged/
.zshrc-secret
.DS_Store
fish/secret.fish
fish/fish_variables
fish/conf.d/fish_frozen_*.fish
fish/fisher.fish
fish/functions/__z*.fish
fish/functions/_nvm*.fish
fish/functions/nvm.fish
fish/conf.d/z.fish
fish/conf.d/nvm.fish
